body {
    background-image: url("https://img2.pngio.com/asian-fast-food-png-clip-art-transparent-cartoon-free-cliparts-chinese-restaurant-png-920_867.png");
    background-blend-mode: lighten;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

body {
    font-family: fantasy, serif;
    color: red;
    background-color: #fed8b1;
}


#description {
    font-size: 12px;
}



h3 {
    font-weight: bolder;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    background-color: transparent;
}

#navigation li a{
    color: red;
    /* text-decoration: none; */
}

/* #navigation li a:visited{
    color: red;
} */

#navigation li a:hover{
    color: rgb(240, 133, 133);
    text-decoration: double;
}

table {
    margin-left: 260px;
    margin-right: 40px
}

table,
td,
th {
    border: 2px solid sienna;
    border-radius: 2;
}

caption {
    font-size: 36px;
}

a {
    text-decoration: none;
}
.food{
    width: 200px;
    height: 200px;
    /* height: 100%; */
}
.actived{
    color: cornflowerblue;
}

input[type=text],input[type=email], textarea {
            /* width: 100%; */
            padding: 6px 10px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

    
        .btn {
            /* width: 90px; */
            margin: 0 auto;
            /* height: 35px; */
            /* line-height: 35px; */
            cursor: pointer;
            border: 1px solid #03c21d;
            border-radius: 5px;
            background-color: #03c21d;
            color: white;
        }

        .btn:hover {
            background-color: #088d1a;
        }

       